@font-face {
  font-family: 'iconfont';  /* project id 312179 */
  src: url('https://at.alicdn.com/t/font_312179_xzt5ukbxsamoyldi.eot');
  src: url('https://at.alicdn.com/t/font_312179_xzt5ukbxsamoyldi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_312179_xzt5ukbxsamoyldi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_312179_xzt5ukbxsamoyldi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_312179_xzt5ukbxsamoyldi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:65px;
    font-style:normal;
}